---
import type { Todo } from './types';
type Props = {
    todos: Todo[];
    email?: string;
};
const {
    todos,
    email,
} = Astro.props;

---
<div id='todo-list'>
    <form
        hx-post='/apps/todo-list/todo'
        hx-target='#todo-list'
        hx-swap='outerHTML transition:true'
    >
        <input
            class='border-spacing-2 border border-cyan-700 p-2 w-full rounded-md'
            type='text'
            id="todo-input"
            placeholder='What needs to be done?'
            hx-action='enter'
            name='todo'
        />
        <input
            class='border-spacing-2 border border-cyan-700 p-2 w-full rounded-md'
            type="hidden"
            value={email}
            placeholder='Who is the owner of this Todo list? (email)'
            id="email-input"
            name='email'
        />
    </form>
    <ul class='py-4'>
        <p>Logged in as {email}

            <button 
                class="border-spacing-2 bg-black text-white p-2 rounded-md cursor-pointer"
                 hx-get="/apps/todo-list" hx-push-url="true"
                 hx-swap="outerHTML"
                 hx-target="body"
            >
                logout
            </button>
        </p>

        {todos.map(todo => {
            return (
                <li class='flex gap-2'>
                    <input
                        type='checkbox'
                        hx-post='/apps/todo-list/remove'
                        name='todo-item'
                        value={todo.id}
                        id={todo.id}
                        hx-swap='outerHTML'
                        class='cursor-pointer'
                        hx-target='#todo-list'
                    ></input>
                    <label for={todo.id} class='cursor-pointer'>
                        {todo.text}
                    </label>
                </li>
            )
        })}
    </ul>
</div>

<script>
    const input = document.getElementById("todo-input");
    input?.focus();
</script>