---
import {Title} from 'solid-ui';
import {LeftContents} from 'common-data';

const {Careers} = LeftContents;
const {CAREERS, TITLE} = Careers;
const getPeriod = (career: (typeof CAREERS)[number]) => {
    const {start, end} = career;
    return `${start?.map(v=>`${v}`).join('.')}~${end?.map(v=>`${v}`).join('.')||'CURRENT'}`;
};
const getAriaLabel = (career: (typeof CAREERS)[number]) => {
    const {companyName, url} = career;
    return `open ${companyName} homepage. ${url}`;
};
---
<Title>{TITLE}</Title>
{CAREERS.map(career=>(
    <div class="career">
        <div class="flex flex-row">
            <h3 class="flex-grow flex flex-row flex-wrap gap-y-0 gap-x-2 leading-4">
                <a class="company-name" 
                    href={career.url} 
                    target="_blank" 
                    aria-label={getAriaLabel(career)} 
                    data-tooltip={getAriaLabel(career)} 
                    rel="noopener noreferrer"
                >
                    {career.companyName}
                </a>
                <a class="company-url pb-1 justify-self-end self-end" 
                    href={career.url} 
                    target="_blank" 
                    data-tooltip={getAriaLabel(career)} 
                    aria-label={getAriaLabel(career)} 
                    rel="noopener noreferrer"
                >
                    {career.url}
                </a>
            </h3>
            <div class="period flex-shrink basis-10 pt-1 text-sm font-bold">{getPeriod(career)}</div>
        </div>
    </div>
))}

<style>
    a{
        text-decoration: none;
    }
    
    .company-name {
        font-family: 'Oswald', sans-serif;
        color: rgb(197, 151, 0);
        font-size:large;
        text-transform: uppercase;
    }
    .company-url {
        font-size: x-small;
        color: rgb(22, 175, 196);
        /* vertical-align: baseline; */
    }
    
    .period {
        color: rgb(133, 164, 175);
    }
</style>