---
import {Title} from 'solid-ui';
import {LeftContents} from 'common-data';
const {Introduction} = LeftContents;
const {TITLE, DESC} = Introduction;
const descMultiLine = DESC.split('\n').join('<br/>');
---
<div>
    <Title>{TITLE}</Title>
    <p class="text-black font-serif leading-5" set:html={descMultiLine}/>
</div>