---
import {TopContents} from 'common-data';
const {name, address, contact, position, website} = TopContents;
const simplifyUrl = (url:string)=>url.replace(/(https?:\/\/)?(www\.)?/,'').replace(/\/$/,'');
---
<div class="flex flex-col items-end">
    <h1 id="profile-name" class="text-white uppercase">{name}</h1>
    <h3 id="profile-address" class="text-gray-light text-xs">{address}</h3>
    <h2 id="profile-position" class="text-light-lime text-lg py-4">{position}</h2>
    <div id="profile-contact" class="text-cyan-200 flex flex-col text-sm">
        <div class="flex flex-col sm:inline-flex sm:flex-row justify-end gap-1">
            <div id="profile-contact-phone" class="inline sm:inline-flex text-right">
                <img src="/phone-icon.svg" alt="phone icon" class="w-4 aspect-1 inline-block" />
                <a class="shrink" href=`tel:+1${contact.phone.replace(/[\(\)-]/g,"")}`>{contact.phone}</a>
            </div>
            <span class="text-white hidden sm:inline-flex">/</span>
            <div id="profile-contact-email" class="inline-flex">
                <img src="/email-icon.svg" alt="phone icon" class="w-4 aspect-1 inline-block" />
                <a class="shrink" href=`mailto:${contact.email}?subject=Songhyeon, We are interested in you!`>{contact.email}</a>
            </div>
        </div>
        <div class="flex flex-col sm:inline-flex sm:flex-row justify-end gap-1">
            <div id="profile-contact-website" class="inline sm:inline-flex text-right">
                <img src="/home-icon.svg" alt="homepage icon" class="w-4 aspect-1 inline-block" />
                <a href=`${website.homepage}` target="_blank" data-tooltip=`move to ${website.homepage}`>{simplifyUrl(website.homepage)}</a>
            </div>
            <span class="text-white hidden sm:inline-flex">/</span>
            <div id="profile-contact-github" class="inline sm:inline-flex text-right">
                <img src="/github-icon.svg" alt="github icon" class="w-4 aspect-1 inline-block" />
                <a href=`${website.github}` target="_blank" data-tooltip=`move to ${website.github}`>{simplifyUrl(website.github)}</a>
            </div>
        </div>
    </div>
</div>
<style>
    
    * {
        font-family: 'Roboto Slab', serif;
    }
    #profile-contact .flex-row * {
        flex: 0 1;
        flex-wrap: nowrap;
        white-space: nowrap;
    }
</style>