---
import {Icon} from 'astro-icon/components';

interface Props {
    className?: string;
    github?: string;
    gitlab?: string;
    npm?: string;
}
const {github, gitlab, npm, className} = Astro.props;
---
<span class={className}>
{github && 
    <a href={github} target="_blank">
        <Icon name="github" class="w-8 h-8"/>
    </a>
}
{gitlab && 
    <a href={gitlab} target="_blank">
        <Icon name="gitlab" class="w-8 h-8"/>
    </a>
}
{npm && 
    <a href={npm} target="_blank">
        <Icon name="npm" class="w-8 h-8"/>
    </a>
}
</span>